body{
  font-size: 16px;
}
input{
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0.5em;
  margin: 0.5em;
  font-size: 1em;
}
.api-application{
  padding : 1.5em;
}
.token{
  word-break: break-all;
}